@namespace MyShared

@if (OneByteIdValuePairs.Count > 0) 
{
    int ioCount = 1;
    @foreach ((byte Id, byte Value) in OneByteIdValuePairs)
    { 
        <tr>
            <td>
                ↳ @ioCount IO ID
            </td>
            <td>
                <code>@Id.ToString("X2")</code>
            </td>
            <td>
                @Id
            </td>
        </tr>
        <tr>
            <td>
                ↳ @ioCount IO Value
            </td>
            <td>
                <code>@Value.ToString("X2")</code>
            </td>
            <td>
                @Value
            </td>
        </tr>
        ioCount++;
    }
}

@code {
    [Parameter, EditorRequired]
    public List<(byte Id, byte Value)> OneByteIdValuePairs { get; set; }
}