@namespace MyShared

@if (TwoByteIdValuePairs.Count > 0) 
{
    int ioCount = 1;
    @foreach ((byte Id, byte[] Value) in TwoByteIdValuePairs)
    { 
        <tr>
            <td>
                ↳ @ioCount IO ID
            </td>
            <td>
                <code>@Id.ToString("X2")</code>
            </td>
            <td>
                @Id
            </td>
        </tr>
        <tr>
            <td>
                ↳ @ioCount IO Value
            </td>
            <td>
                <code>@Common.GetByteArrayAsSplittedHex(Value)</code>
            </td>
            <td>
                @BytesToNumbers.GetUInt16(Value) / @BytesToNumbers.GetInt16(Value)
            </td>
        </tr>
        ioCount++;
    }
}

@code {
    [Parameter, EditorRequired]
    public List<(byte Id, byte[] Value)> TwoByteIdValuePairs { get; set; }
}